In [1]:
# Import dependencies
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key
from config import g_key

In [2]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you created in part two into a DataFrame
vacation_data_df = pd.read_csv("Data/WeatherPy_vacation.csv")

In [4]:
# Data Frame for Pochutla
petatlan_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Petatlan')]
petatlan_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
57,225,Petatlan,MX,78.8,clear sky,17.52,-101.27,Hotel California Petatlán

In [5]:
# Data Frame for Puerto Escondido
puerto_escondido_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Puerto Escondido')]
puerto_escondido_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
52,202,Puerto Escondido,MX,82.4,broken clouds,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [6]:
# Data Frame for Coacoyul
san_patricio_df = vacation_data_df.loc[(vacation_data_df["City"] == 'San Patricio')]
san_patricio_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
29,112,San Patricio,MX,77.0,few clouds,19.22,-104.7,Hotel Cabo Blanco

In [7]:
# Data Frame for Acapulco
acapulco_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Acapulco')]
acapulco_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
25,90,Acapulco,MX,77.0,few clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [9]:
# Directions Layer map
petatlan = (petatlan_df.iloc[0,5],petatlan_df.iloc[0,6])
puerto_escondido = (puerto_escondido_df.iloc[0,5], puerto_escondido_df.iloc[0,6])
san_patricio = (san_patricio_df.iloc[0,5], san_patricio_df.iloc[0,6])
acapulco = (acapulco_df.iloc[0,5], acapulco_df.iloc[0,6])

fig = gmaps.figure()
itinerary = gmaps.directions_layer(puerto_escondido, san_patricio, waypoints=[acapulco, petatlan], travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Make DataFrame combining each hotel DataFrame
hotels_df = petatlan_df.append(puerto_escondido_df).append(san_patricio_df).append(acapulco_df)
hotels_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
57,225,Petatlan,MX,78.8,clear sky,17.52,-101.27,Hotel California Petatlán
52,202,Puerto Escondido,MX,82.4,broken clouds,15.85,-97.07,Aldea del Bazar Hotel and Spa
29,112,San Patricio,MX,77.0,few clouds,19.22,-104.70,Hotel Cabo Blanco
25,90,Acapulco,MX,77.0,few clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [14]:
# Info Box Set Up
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather Description</dt><dd>{Current Description} with temperature of {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

In [15]:
# Marker Layer Map

locations = hotels_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))